.footer-container {
  display: flex;
  color: whitesmoke;
  justify-content: space-evenly;
  margin-top: 2%;
}
.footer-item {
  display: flex;
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    justify-content: center;
  }
}
