.body{ 
    background-image: url('homebg.jpg');
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.icons{
    display: flex;
    align-items: center;
   
}
.resume{
  height: 30px;
  margin-bottom: 5px;
   background-color: rgb(196, 207, 207);
   border-radius: 6px;
   cursor: pointer;
}

.d{
   display: flex;
   flex-direction: row;
   align-items: center;

   font-size: 30px;
   font-weight: 100;
}
.d1{
    margin-right: 10px;
}
.d2{
    margin-top: 30px;
}

.intro{
    font-size: large;
    color: rgb(255, 253, 253);
    /* z-index: 1; */
     text-shadow: 2px 2px #141414;
     margin-left: 20%;
  }

.body img{
    height: 500px;
    width: 500px;
    z-index: 1;
     border-radius: 50%;
     box-shadow: 4px 4px 4px #696060;
}
@media screen and (max-width: 1350px) {
  .intro{
    margin-left: 10%;
  }
    .body img{
        height: 500px;
        width: 500px;
        /* z-index: 1; */
        /* margin-top: 150px; */
        border-radius: 50%;
       
    }

    
}
@media screen and (max-width: 700px) {
    .intro{
        margin-left: 1%;
      }
  
    .body img{
        height: 400px;
        width: 400px;
        /* z-index: 1; */
        margin-top: 150px;
        border-radius: 50%;
    }
    
}
