.contact-body form {
  padding: 2rem;
  border-radius: 10px;
  width: 80%;
  background-color: rgba(80, 92, 101, 0.4);
}
.contact-body label {
  font-size: larger;
  color: rgb(198, 226, 251);
}
.name-email input {
  width: 95%;
  opacity: 40%;
  font-size: 15px;
}
textarea {
  width: 98%;
  opacity: 40%;
  font-size: 20px;
}
.submit-btn {
  cursor: pointer;
  height: 35px;
  width: 90px;
  color: rgb(13, 33, 104);
  border: 1px solid black;
  opacity: 40%;
  margin-top: 10px;
  font-size: medium;
  font-weight: bold;
  padding-bottom: 4px;
}
.submit-btn:hover {
  opacity: 90%;
}

/* 
@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  .form {
    padding: 20px;
  }
  form {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  h1 {
    font-size: 30px;
  }
  .form {
    padding: 70px;
  }
  form {
    width: 70%;
  }
} */

.contact-page {
  margin-top: 200px;
  margin-left: 15%;
  margin-right: 15%;
}

.contact-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.name-email {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.name {
  width: 95%;
}
.email {
  width: 95%;
}
.message {
  margin-top: 20px;
}
