 
*{
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
   
}

.nav ul{
        display:flex;
        align-items:center;
        width:100%;
        justify-content:space-evenly;
        position: absolute;
        /* position:fixed; */
        z-index:50;
        color:white;
        margin-top: 20px;
        
} 
.nav ul li{
    list-style: none;
}
.mobileview ul{
    display: flex;
    flex-direction: column;
    /* margin-top: 100px; */
    position: absolute;
    right: 20px;
    top: 50px;
    width: 90%;
    height: 200px;
    margin-left: 50%;
    font-size: x-large;
    /* position: fixed; */
    background-color: rgb(23, 22, 22, 0.5);
    justify-content: space-around;
    
    align-items: flex-end;
    color: aliceblue;

  }
.mobileview ul li{
  cursor: pointer;
  list-style: none;
}
.Hamburger{
    position: fixed;
    top: 10px;
    right: 10px;
    color: rgb(177, 185, 192);
    /* margin-right: 30px; */
    font-size: xx-large;
 }

@media screen and (max-width: 800px){
    .nav ul{
        display:none;
       
}
}
@media screen and (min-width: 800px){
    .Hamburger{
        display:none;
       
}
}